@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.layout {
	width: 100%;
	position: relative;

	transition: 0.5s;
	transform: translateY(200px);
	opacity: 0;

	figure {
		width: 100%;
		height: 30vh;
		background: gray;
		opacity: 1;
	}

	.content {
		width: 70vw;
		margin: 5vh auto;
		min-height: 60vh;
		opacity: 1;

		h1 {
			font: normal 80px/1 'nanum myeongjo';
			color: #444;
			margin-bottom: 10px;

			span {
				opacity: 0;
				transform: scale(3);
				transition-duration: 0.5s;
			}
		}
		.bar {
			width: 0px;
			height: 1px;
			background: #000;
			margin-bottom: 40px;
			transition: 1s 1s;
		}
	}

	&.on {
		opacity: 1;
		transform: translateY(0px);

		.content {
			h1 {
				span {
					opacity: 1;
					transform: scale(1);
				}
			}
			.bar {
				width: 50px;
			}
		}
	}
}

.tablet,
.mobile {
	.layout {
		.content {
			h1 {
				font-size: 80px;
			}
		}
	}
}

.mobile {
	.layout {
		.content {
			h1 {
				font-size: 50px;
			}
		}
	}
}
