* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

body {
	background: #eee;
}

html {
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: #333;
	}
}
/*
:root {
	--tablet: 1199px;
}
*/
