.Department {
	#historyBox {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
		margin-bottom: 200px;

		h2 {
			width: 20%;
			font-size: 3rem;
			opacity: 0.8;
		}
		.con {
			padding-left: 80px;
			border-left: 1px solid #ddd;
			width: 75%;

			h3 {
				font-weight: bold;
				font-size: 1.4rem;
				opacity: 0.8;
				font-style: italic;
			}

			ul {
				margin-top: 20px;
				margin-bottom: 80px;
				opacity: 0.7;

				li {
					line-height: 1.3;
					font-style: italic;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	#memberBox {
		width: 100%;
		display: flex;
		justify-content: space-between;

		h2 {
			width: 20%;
			font-size: 3rem;
			opacity: 0.8;
		}
		.con {
			padding-left: 80px;
			border-left: 1px solid #ddd;
			width: 75%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			article {
				width: 31%;
				margin-bottom: 50px;

				.pic {
					width: 100%;
					height: 300px;
					margin-bottom: 20px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				h3 {
					font-weight: bold;
					font-size: 1.4rem;
					opacity: 0.8;
					margin-bottom: 10px;
				}
			}
		}
	}
}

//tablet
.tablet,
.mobile {
	.Department {
		.container {
			flex-wrap: wrap;

			.infoBox {
				width: 100%;
				height: 200px;
				margin-bottom: 50px;
			}
			.memberBox {
				width: 100%;

				article {
					width: 48%;
				}
			}
		}
	}
}

//mobile
.mobile {
	.Department {
		.container {
			.memberBox {
				width: 100%;

				article {
					width: 100%;
				}
			}
		}
	}
}
