.Department {
	figure {
		background-color: lightblue;
	}
	.content {
		h1 {
		}
		.container {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.infoBox {
				width: 25%;
				height: 50vh;
				background: blue;
			}
			.memberBox {
				width: 70%;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap; //줄바꿈처리

				article {
					width: 32%;
					margin-bottom: 70px;

					.pic {
						width: 100%;
						height: 40vh;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}
